# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
package-lock.json # include if you are using npm - don't use both yarn and npm
npm-debug.log
yarn-error.log
yarn.lock # include if you are using yarn - don't use both npm and yarn

# BUCK
buck-out/
\.buckd/
*.keystore

# Fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use Fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle
/.dart_tool/flutter_build/15fda680ffa13aac5eb14add4fbf641c/.filecache
/.dart_tool/flutter_build/d174b94869ec98956d19e17eeff099ab/.filecache
/.flutter-plugins-dependencies
/.dart_tool/flutter_build/15fda680ffa13aac5eb14add4fbf641c/App.framework/App
/.dart_tool/flutter_build/15fda680ffa13aac5eb14add4fbf641c/app.dill
/.dart_tool/flutter_build/d174b94869ec98956d19e17eeff099ab/app.dill
/.dart_tool/flutter_build/15fda680ffa13aac5eb14add4fbf641c/dart_build.d
/.dart_tool/flutter_build/d174b94869ec98956d19e17eeff099ab/dart_build.d
/.dart_tool/flutter_build/15fda680ffa13aac5eb14add4fbf641c/dart_build.stamp
/.dart_tool/flutter_build/d174b94869ec98956d19e17eeff099ab/dart_build.stamp
/.dart_tool/flutter_build/15fda680ffa13aac5eb14add4fbf641c/dart_build_result.json
/.dart_tool/flutter_build/d174b94869ec98956d19e17eeff099ab/dart_build_result.json
/.dart_tool/flutter_build/dart_plugin_registrant.dart
/.dart_tool/flutter_build/d174b94869ec98956d19e17eeff099ab/debug_android_application.stamp
/.dart_tool/flutter_build/15fda680ffa13aac5eb14add4fbf641c/debug_ios_bundle_flutter_assets.stamp
/.dart_tool/flutter_build/15fda680ffa13aac5eb14add4fbf641c/debug_ios_lldb_init.stamp
/.dart_tool/flutter_build/15fda680ffa13aac5eb14add4fbf641c/debug_universal_framework.stamp
/.dart_tool/flutter_build/15fda680ffa13aac5eb14add4fbf641c/debug_unpack_ios.stamp
/ios/Pods/Target Support Files/Flutter/Flutter.debug.xcconfig
/ios/Flutter/Flutter.podspec
/ios/Pods/Local Podspecs/Flutter.podspec.json
/ios/Pods/Target Support Files/Flutter/Flutter.release.xcconfig
/ios/Pods/Pods.xcodeproj/xcuserdata/nbjprochniewicz.xcuserdatad/xcschemes/Flutter.xcscheme
/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
/.dart_tool/flutter_build/15fda680ffa13aac5eb14add4fbf641c/flutter_assets.d
/.dart_tool/flutter_build/d174b94869ec98956d19e17eeff099ab/flutter_assets.d
/ios/Flutter/flutter_export_environment.sh
/macos/Flutter/ephemeral/flutter_export_environment.sh
/ios/Flutter/ephemeral/flutter_lldb_helper.py
/ios/Flutter/ephemeral/flutter_lldbinit
/.dart_tool/flutter_build/15fda680ffa13aac5eb14add4fbf641c/gen_dart_plugin_registrant.stamp
/.dart_tool/flutter_build/d174b94869ec98956d19e17eeff099ab/gen_dart_plugin_registrant.stamp
/.dart_tool/flutter_build/15fda680ffa13aac5eb14add4fbf641c/gen_localizations.stamp
/.dart_tool/flutter_build/d174b94869ec98956d19e17eeff099ab/gen_localizations.stamp
/ios/Flutter/Generated.xcconfig
/ios/Runner/GeneratedPluginRegistrant.h
/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
/ios/Runner/GeneratedPluginRegistrant.m
/ios/Pods/Target Support Files/geolocator_apple/geolocator_apple.debug.xcconfig
/ios/Pods/Target Support Files/geolocator_apple/geolocator_apple.modulemap
/ios/Pods/Local Podspecs/geolocator_apple.podspec.json
/ios/Pods/Target Support Files/geolocator_apple/geolocator_apple.release.xcconfig
/ios/Pods/Pods.xcodeproj/xcuserdata/nbjprochniewicz.xcuserdatad/xcschemes/geolocator_apple.xcscheme
/ios/Pods/Target Support Files/geolocator_apple/geolocator_apple-dummy.m
/ios/Pods/Pods.xcodeproj/xcuserdata/nbjprochniewicz.xcuserdatad/xcschemes/geolocator_apple-geolocator_apple_privacy.xcscheme
/ios/Pods/Target Support Files/geolocator_apple/geolocator_apple-Info.plist
/ios/Pods/Target Support Files/geolocator_apple/geolocator_apple-prefix.pch
/android/gradle/wrapper/gradle-wrapper.jar
/android/gradlew
/android/gradlew.bat
/.dart_tool/flutter_build/15fda680ffa13aac5eb14add4fbf641c/install_code_assets.d
/.dart_tool/flutter_build/d174b94869ec98956d19e17eeff099ab/install_code_assets.d
/.dart_tool/flutter_build/15fda680ffa13aac5eb14add4fbf641c/install_code_assets.stamp
/.dart_tool/flutter_build/d174b94869ec98956d19e17eeff099ab/install_code_assets.stamp
/.dart_tool/flutter_build/15fda680ffa13aac5eb14add4fbf641c/IssueLaunchRootViewControllerAccess.stamp
/.dart_tool/flutter_build/15fda680ffa13aac5eb14add4fbf641c/kernel_snapshot_program.d
/.dart_tool/flutter_build/d174b94869ec98956d19e17eeff099ab/kernel_snapshot_program.d
/.dart_tool/flutter_build/15fda680ffa13aac5eb14add4fbf641c/kernel_snapshot_program.stamp
/.dart_tool/flutter_build/d174b94869ec98956d19e17eeff099ab/kernel_snapshot_program.stamp
/ios/Pods/Manifest.lock
/.dart_tool/flutter_build/15fda680ffa13aac5eb14add4fbf641c/native_assets.json
/.dart_tool/flutter_build/d174b94869ec98956d19e17eeff099ab/native_assets.json
/.dart_tool/flutter_build/15fda680ffa13aac5eb14add4fbf641c/outputs.json
/.dart_tool/flutter_build/d174b94869ec98956d19e17eeff099ab/outputs.json
/.dart_tool/package_config.json
/.dart_tool/package_graph.json
/ios/Pods/Target Support Files/path_provider_foundation/path_provider_foundation.debug.xcconfig
/ios/Pods/Target Support Files/path_provider_foundation/path_provider_foundation.modulemap
/ios/Pods/Local Podspecs/path_provider_foundation.podspec.json
/ios/Pods/Target Support Files/path_provider_foundation/path_provider_foundation.release.xcconfig
/ios/Pods/Pods.xcodeproj/xcuserdata/nbjprochniewicz.xcuserdatad/xcschemes/path_provider_foundation.xcscheme
/ios/Pods/Target Support Files/path_provider_foundation/path_provider_foundation-dummy.m
/ios/Pods/Target Support Files/path_provider_foundation/path_provider_foundation-Info.plist
/ios/Pods/Pods.xcodeproj/xcuserdata/nbjprochniewicz.xcuserdatad/xcschemes/path_provider_foundation-path_provider_foundation_privacy.xcscheme
/ios/Pods/Target Support Files/path_provider_foundation/path_provider_foundation-prefix.pch
/ios/Pods/Target Support Files/path_provider_foundation/path_provider_foundation-umbrella.h
/ios/Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig
/ios/Pods/Target Support Files/Pods-Runner/Pods-Runner.modulemap
/ios/Pods/Target Support Files/Pods-Runner/Pods-Runner.profile.xcconfig
/ios/Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig
/ios/Pods/Pods.xcodeproj/xcuserdata/nbjprochniewicz.xcuserdatad/xcschemes/Pods-Runner.xcscheme
/ios/Pods/Target Support Files/Pods-Runner/Pods-Runner-acknowledgements.markdown
/ios/Pods/Target Support Files/Pods-Runner/Pods-Runner-acknowledgements.plist
/ios/Pods/Target Support Files/Pods-Runner/Pods-Runner-dummy.m
/ios/Pods/Target Support Files/Pods-Runner/Pods-Runner-frameworks.sh
/ios/Pods/Target Support Files/Pods-Runner/Pods-Runner-frameworks-Debug-input-files.xcfilelist
/ios/Pods/Target Support Files/Pods-Runner/Pods-Runner-frameworks-Debug-output-files.xcfilelist
/ios/Pods/Target Support Files/Pods-Runner/Pods-Runner-frameworks-Profile-input-files.xcfilelist
/ios/Pods/Target Support Files/Pods-Runner/Pods-Runner-frameworks-Profile-output-files.xcfilelist
/ios/Pods/Target Support Files/Pods-Runner/Pods-Runner-frameworks-Release-input-files.xcfilelist
/ios/Pods/Target Support Files/Pods-Runner/Pods-Runner-frameworks-Release-output-files.xcfilelist
/ios/Pods/Target Support Files/Pods-Runner/Pods-Runner-Info.plist
/ios/Pods/Target Support Files/Pods-Runner/Pods-Runner-umbrella.h
/ios/Pods/Target Support Files/Pods-RunnerTests/Pods-RunnerTests.debug.xcconfig
/ios/Pods/Target Support Files/Pods-RunnerTests/Pods-RunnerTests.modulemap
/ios/Pods/Target Support Files/Pods-RunnerTests/Pods-RunnerTests.profile.xcconfig
/ios/Pods/Target Support Files/Pods-RunnerTests/Pods-RunnerTests.release.xcconfig
/ios/Pods/Pods.xcodeproj/xcuserdata/nbjprochniewicz.xcuserdatad/xcschemes/Pods-RunnerTests.xcscheme
/ios/Pods/Target Support Files/Pods-RunnerTests/Pods-RunnerTests-acknowledgements.markdown
/ios/Pods/Target Support Files/Pods-RunnerTests/Pods-RunnerTests-acknowledgements.plist
/ios/Pods/Target Support Files/Pods-RunnerTests/Pods-RunnerTests-dummy.m
/ios/Pods/Target Support Files/Pods-RunnerTests/Pods-RunnerTests-Info.plist
/ios/Pods/Target Support Files/Pods-RunnerTests/Pods-RunnerTests-umbrella.h
/ios/Pods/Pods.xcodeproj/project.pbxproj
/ios/Pods/Target Support Files/geolocator_apple/ResourceBundle-geolocator_apple_privacy-geolocator_apple-Info.plist
/ios/Pods/Target Support Files/path_provider_foundation/ResourceBundle-path_provider_foundation_privacy-path_provider_foundation-Info.plist
/ios/Pods/Target Support Files/sqflite_darwin/ResourceBundle-sqflite_darwin_privacy-sqflite_darwin-Info.plist
/ios/Pods/Target Support Files/sqflite_darwin/sqflite_darwin.debug.xcconfig
/ios/Pods/Target Support Files/sqflite_darwin/sqflite_darwin.modulemap
/ios/Pods/Local Podspecs/sqflite_darwin.podspec.json
/ios/Pods/Target Support Files/sqflite_darwin/sqflite_darwin.release.xcconfig
/ios/Pods/Pods.xcodeproj/xcuserdata/nbjprochniewicz.xcuserdatad/xcschemes/sqflite_darwin.xcscheme
/ios/Pods/Target Support Files/sqflite_darwin/sqflite_darwin-dummy.m
/ios/Pods/Target Support Files/sqflite_darwin/sqflite_darwin-Info.plist
/ios/Pods/Target Support Files/sqflite_darwin/sqflite_darwin-prefix.pch
/ios/Pods/Pods.xcodeproj/xcuserdata/nbjprochniewicz.xcuserdatad/xcschemes/sqflite_darwin-sqflite_darwin_privacy.xcscheme
/ios/Pods/Target Support Files/sqflite_darwin/sqflite_darwin-umbrella.h
/ios/Runner.xcworkspace/xcuserdata/nbjprochniewicz.xcuserdatad/UserInterfaceState.xcuserstate
/.dart_tool/version
/.dart_tool/dartpad/web_plugin_registrant.dart
/ios/Pods/Pods.xcodeproj/xcuserdata/nbjprochniewicz.xcuserdatad/xcschemes/xcschememanagement.plist

# @generated expo-cli sync-2b81b286409207a5da26e14c78851eb30d8ccbdb
# The following patterns were generated by expo-cli

expo-env.d.ts
# @end expo-cli