<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- App permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <application
        android:name="com.jossy.android.mobilebenchmarkappkotlin.BenchmarkApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileBenchmarkAppKotlin"
        tools:targetApi="31">

    <activity android:name="com.jossy.android.mobilebenchmarkappkotlin.activity.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <activity android:name="com.jossy.android.mobilebenchmarkappkotlin.activity.BenchmarkSuiteActivity" android:exported="false" />
    <activity android:name="com.jossy.android.mobilebenchmarkappkotlin.activity.CPUTestActivity" android:exported="false" />
    <activity android:name="com.jossy.android.mobilebenchmarkappkotlin.activity.RAMTestActivity" android:exported="false" />
    <activity android:name="com.jossy.android.mobilebenchmarkappkotlin.activity.ImageLoadingActivity" android:exported="false" />
    <activity android:name="com.jossy.android.mobilebenchmarkappkotlin.activity.ApiTestActivity" android:exported="false" />
    <activity android:name="com.jossy.android.mobilebenchmarkappkotlin.activity.UITestActivity" android:exported="false" />
    <activity android:name="com.jossy.android.mobilebenchmarkappkotlin.LocationTestActivity" android:exported="false" />

    </application>

</manifest>